@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  * {
    @apply w-full m-0 p-0;
  }
  body {
    @apply w-full bg-gray-100;
  }

  h1{
    @apply text-4xl leading-10 font-bold text-gray-50;
  }
  h2{
    @apply text-2xl font-bold text-blue-600;
  }
  h3{
    @apply text-xl font-bold text-blue-600;
  }
  h4{
    @apply text-lg font-bold text-blue-600;
  }
  h5{
    @apply  font-bold text-blue-600;
  }
  h6{
    @apply text-sm font-bold text-blue-600;
  }
  p{
    @apply text-base font-normal text-blue-600; 
  }
}

@theme inline{
  --color-primary:#3B82F6;
  --color-secondary:#bfc5cb;
  --color-tertiary:#3B82F6;
  --color-background:#ffffff;
  --color-foreground:#f2f4f5;
  --color-text:#3B82F6;
  
}